$font-family: "Jost";
$font-title: "Montserrat";
$font-family: "Jost", sans-serif;
$font-family: "Montserrat", sans-serif;
$font-family1: "Nunito", sans-serif;

$Hover-BgColorUsers: #a4dee8;
$background-ColorUsers: #32c0cc;
$background-Users: white;
$background-ColorBody-g: rgba(50, 192, 204, 0.06);
$background-ColorExpense-D: rgba(50, 192, 204, 0.06);
$background-ColorBalance: rgba(50, 192, 204, 0.06);

$color-LinkHover: blue;
$color-icon: #32c0cc;
