$font-title: "Montserrat";
$font-family: "Jost", sans-serif;
$font-family: "Montserrat", sans-serif;
$font-family1: "Nunito", sans-serif;

$Hover-BgColorUsers: #a4dee8;
$background-colorUsers: #32c0cc;

$color-linkHover: blue;
$color-icon: #32c0cc;
$color-subTitle: white;
$color-gB: #32c0cc;
$fontColor: white;
$fontColorDate: #545050;
$font-color-m: #444343;
$font-color-b: #131313;
