@import "/src/styles/core/variables";

.btn {
  width: 8rem;
  height: 2rem;
  background-color: $color-gB;
  border: none;
  color: $fontColor;
  font-size: 1.2rem;
  margin-top: 3rem;

  &:hover {
    background-color: $Hover-BgColorUsers;
  }
}
