@import "src/styles/core/variables";
@import "src/styles/core/mixins";
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid white;
  background-color: $background-ColorExpense-D;
  padding: 0 1.3rem;
  margin-bottom: 1rem;
}

.BoxExpenseDetail {
  @include flex-row;
  justify-content: space-between;
  line-height: 2rem;

  & i {
    padding-right: 0.6rem;
    color: $color-icon;
  }
}
