@import "src/styles/core/variables";
@import "src/styles/core/mixins";

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;

  & .photo {
    width: 95vw;

    @media all and (min-width: 768px) {
      width: 30rem;
    }
  }
}

.wrapperMain {
  font-family: $font-title;
  padding: 0 1.5rem;

  @media all and (min-width: 768px) {
    max-width: 40rem;
    margin: 0 auto;
  }

  @media all and (min-width: 1220px) {
    max-width: 50rem;
    margin: 0 auto;
  }
}
