.wrapperMain {
  display: flex;
  flex-direction: column;
  background-color: #c7c7ce;
  height: 90vh;
}


.wrapper {
  color:black;
}

.header {

  height: 4rem;
  background-color: #bbbbf8;

  & .title {
    padding: 1rem 1rem;
    font-size: 1.5rem;
  }
}

