@import "src/styles/core/variables";
@import "src/styles/core/mixins";

.header {
  /*font-family: $font-title;*/
  text-align: center;
  background-color: $background-ColorBody-g;

  & .photo {
    width: 17.7rem;
    padding-bottom: 1rem;

    @media all and (min-width: 768px) {
      width: 30rem;
    }
  }
}

.usersContainer {
  background-color: $background-Users;
}
.wrapperMain {
  font-family: $font-title;

  .users {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    @include usersSubtitle;

    @media all and (min-width: 768px) {
      max-width: 28rem;
      margin: 0 auto;
      padding-top: 3rem;
    }
  }

  .usersLink {
    @include link;
    color: $font-colorM;
    font-size: 1.1rem;
  }

  .usersList {
    @include flex-row;
    flex-wrap: wrap;
  }

  .listName {
    @include flex-column;
    background-color: $background-ColorUsers;
    height: 3rem;
    min-width: 6rem;
    border-radius: 10%;
    margin: 0.3rem;
    text-decoration: none;
    color: $fontColor;

    &:hover {
      background-color: $Hover-BgColorUsers;
    }
  }

  .wrapper {
  }

  .usersExpense {
    @include usersSubtitle;
    padding-top: 2rem;

    @include responsive;
  }

  .expenseLink {
    @include link;
    padding-left: 3rem;
    font-size: 1.2rem;
  }
}

.balance {
  display: flex;
  flex-direction: column;
  color: $font-colorM;
  padding: 1rem;
  @include responsiveGrid;
}

.balanceTitle {
  font-size: 1.2rem;

  @media all and (min-width: 768px) {
    padding-left: 1rem;
  }
}
.boxBalance {
  @include responsiveGrid;
  @include flex-row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(111, 173, 175, 0.37);
}
