@import "src/styles/core/variables";
@import "src/styles/core/mixins";

.wrapper {
  @include sectionWrapper;
}

.title {
  @include sectionTitle;
}

.list {
  @include flex-row;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(111, 173, 175, 0.37);
}
