@import "src/styles/core/variables";
@import "src/styles/core/mixins";

.wrapper {
  @include sectionWrapper;
}

.title {
  @include sectionTitle;
}

.list {
  @include flex-row;
  justify-content: space-between;
  padding: 0.5rem 0;
  line-height: 1.5rem;
  border-bottom: 1px solid rgba(117, 166, 168, 0.18);
}
