@import "src/styles/core/variables";
@import "src/styles/core/mixins";

.wrapper {
  @include sectionWrapper;
}

.header {
  @include sectionHeader;
}

.title {
  @include sectionTitle;
}

.addUsersLink {
  @include link;
  color: $font-colorM;
}

.list {
  @include flex-row;
  flex-wrap: wrap;
}

.listName {
  @include flex-column;
  background-color: $background-ColorUsers;
  height: 3rem;
  min-width: 6rem;
  border-radius: 10%;
  margin: 0.3rem;
  text-decoration: none;
  color: $fontColor;

  &:hover {
    background-color: $Hover-BgColorUsers;
  }
}
