@import "src/styles/core/variables";
@import "src/styles/core/mixins";

.container {
  @include blueBallBg;
}

.header {
  @include headerComponent;
}

.form {
  @include flex-column;
  @include fontSize;

  @media all and (min-width: 768px) {
    margin-top: 2.5rem;
  }
}

.date {
  margin-top: 1rem;
  height: 2rem;
  @include Outline;

  @media all and (min-width: 768px) {
    font-size: 0.9rem;
  }
}

.label {
  @include flex-column;
  align-items: flex-start;
  margin-top: 2rem;
  font-family: $font-family;

  @media all and (min-width: 768px) {
    font-size: 1.1rem;
  }

  & > span {
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }
}

.amountBox {
  width: 15rem;
}

.amount {
  @include fontSize;
  @include borderOutline;
  width: 13.1rem;
  padding-right: 0.8rem;
  height: 1.5rem;
  text-align: right;
}

.currency {
  font-size: 1.2rem;
  color: black;
}

.description {
  @include inputText;
  @include borderOutline;
  width: 15rem;
  font-size: 0.9rem;

  @media all and (min-width: 768px) {
    margin-top: 1rem;
  }
}

.selectOption {
  @include fontSize;
  @include borderOutline;
  width: 15rem;
  background-color: white;
  padding: 0.5rem 0;
}
