@import "src/styles/core/variables";
@import "src/styles/core/mixins";

.container {
  height: 100vh;
  background-image: url("../../images/images.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -270px 350px;
}

.header {
  @include headerComponent;
}

.form {
  @include flex-column;
  @include FontSize;
}

.date {
  margin-top: 1rem;
  height: 2rem;
  @include Outline;
}

.label {
  @include flex-column;
  align-items: flex-start;
  margin-top: 2rem;

  & > span {
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }
}

.button {
  @include button;
  margin-top: 6rem;
}

.amountBox {
  width: 15rem;
}
.amount {
  width: 14rem;
  @include FontSize;
  height: 1.5rem;
  @include borderOutline;
  text-align: right;
}

.currency {
  font-size: 1.2rem;
  color: black;
}

.description {
  @include inputText;
  width: 15rem;
  @include borderOutline;
}

.selectUser {
  @include borderOutline;

  & i {
    font-size: 1.4rem;
    margin-right: 1rem;
  }
}

.boy {
  width: 3rem;
}
.selectOption {
  width: 15rem;
  background-color: white;
  @include FontSize;
  @include borderOutline;
  padding: 0.5rem 0;
}
