@import "src/styles/core/variables";
@import "src/styles/core/mixins";

.box {
  height: 100vh;
  background-image: url("../../images/images.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -280px 350px;

  @media all and (min-width: 768px) {
    background-position: -60rem 30rem;
  }

  @media all and (min-width: 1220px) {
    background-position: -50rem 10rem;
  }
}

.header {
  @include headerComponent;
}

.form {
  margin-top: 2.5rem;
  @include flex-column;

  @media all and (min-width: 768px) {
    margin-top: 4rem;
    font-size: 1.5rem;

    & i {
      font-size: 3rem;
    }
  }
}

.inputName {
  @include inputText;
  @include borderOutline;
  text-align: center;
  margin-top: 2rem;
}

.button {
  @include button;
  margin-top: 3rem;
}
.button:hover {
  background-color: $Hover-BgColorUsers;
}
