@import "src/styles/core/variables";
@import "src/styles/core/mixins";

.container {
  @include blueBallBg;
}

.header {
  @include headerComponent;
}

.form {
  margin-top: 2.5rem;
  @include flex-column;

  @media all and (min-width: 768px) {
    margin-top: 4rem;
    font-size: 1.5rem;

    & i {
      font-size: 3rem;
    }
  }
}

.inputName {
  @include inputText;
  @include borderOutline;
  text-align: center;
  margin-top: 2rem;
}

.button {
  @include button;
  margin-top: 3rem;
}
.button:hover {
  background-color: $Hover-BgColorUsers;
}
